.map {
    padding:100px 0px 50px 0px;
    iframe{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 1000px;
        max-width: 100%;
    }
}  

.info-contact{
    background: url(../img/pattern1.png);
}
.contact{
    h3{
        padding: 20px 0px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 4px;
    }
}


.contact-form{
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    h3{
        margin: 75px 0px 0px 45px;
    }
    .label-info{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 20px;
    }
    label{
        font-weight: bold;
        margin-bottom: 10px;
    }
}


.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #d4d4d4;
    width: 100% !important;
    border-radius: 5px;
}

.names{
    display: flex;
    justify-content: space-between;
}

form{
    padding: 45px;
    
}

.button-send{
    position: relative;
    background-color: black;
    padding: 15px 40px;
    color: white;
    font-weight: 400 !important;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;

}

.contact-form input[type="submit"] {
    width: 180px !important;
}
